<header class="main-header">

    <section class="top-bar">
        <div class="top-bar__img">
            <a href="/">
                <img src="img/logo-mercado-liebre.svg" alt="logo mercado liebre">
            </a>

        </div>


        <form class="top-bar__form" action="#" method="POST">

            <input type="text" id="fname" name="fname" value="Buscar productos, marcas">

            <button type="submit" class="lupa">
                <i class="fa-solid fa-magnifying-glass"></i>

            </button>

        </form>


        <P class="top-bar__text">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de credito
        </P>

    </section>


    <nav class="main-nav">
        <ul class="lista-superior">


            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>

        </ul>

        <ul class="lista-superior">

            <li><a href="/registro">Creá tu cuenta<span class="iconMenu"><i class="fa-solid fa-id-card"></i></span>
                </a>
            </li>
            <li><a href="/login">Ingresá<span class="iconMenu"><i
                            class="fa-solid fa-arrow-right-to-bracket"></i></span></a></li>
            <li class="last-li"><a href="#">Mis compras<span class="iconMenu"><i
                            class="fa-solid fa-bag-shopping"></i></span></a>
            </li>

        </ul>


    </nav>

    <a href="#" class="burguer">
        <i class="fa-solid fa-bars"></i>

    </a>

</header>