<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css">
     <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div><img src="img/logo-mercado-liebre.svg" width="360" alt="logo mercado liebre"></div>
        <div>Lugar para poner barra de busqueda</div>
        <br>
        <div>Comprá en cuotas y sin tarjeta de credito</div>
        
        <img src="img/img-home-banner.jpg"  width="360" alt="">
        
        <nav>
            <ul>
                
                
                <li>Ofertas</li>
                <li>tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <br>
                <li>Creá tu cuenta  </li>
                <li>Ingresá</li>
                <li>Mis compras</li>
                
            </ul>
            <div class="burger-menu"> <button class="boton"><i class="fas fa-bars"></i></button>
                
                </div>
</nav>

    </header>
    <main>
        <section>
            <h2>Basado en tu ultima vista</h2>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" width="360" alt="cafetera">
                <h3>$6770</h3>
                <h3>40% OFF</h3>
                <h2 >Cafetera Moulinex</h2>
            </article>
            <article>
                <img src="img/img-macbook-pro-2019.jpg" width="360" alt="macbook">
                <h3>$230.000</h3>
                <h3>20% OFF</h3>
                <h2 >MacBook Pro 2019</h2>
            </article>
            <article>
                <img src="img/img-samsung-galaxy-s10.jpg" width="360" alt="samsung-galaxy-s10">
                <h3>$70.500</h3>
                <h3>10% OFF</h3>
                <h3 >Samsung galaxy S10</h3>
            </article>
            <article>
                <img src="img/img-tv-samsung-smart.jpg" width="360" alt="img-tv-samsung-smart">
                <h3>$23.200</h3>
                <h3>5% OFF</h3>
                <h2 >SmartTv Samsung 43"</h2>
            </article>
         </section>
         <h2>Seccion de ofertas</h2>
         <article>
            <img src="img/img-cafetera-moulinex.jpg" width="360" alt="img-cafetera-moulinex">
            <h3>$6770</h3>
            <h3>40% OFF</h3>
            <h2 >Cafetera Moulinex</h2>
        </article>
        <article>
            <img src="img/img-macbook-pro-2019.jpg" width="360" alt="macbook">
            <h3>$230.000</h3>
            <h3>20% OFF</h3>
            <h2 >MacBook Pro 2019</h2>
        </article>
        <article>
            <img src="img/img-samsung-galaxy-s10.jpg" width="360" alt="samsung-galaxy-s10">
            <h3>$70.500</h3>
            <h3>10% OFF</h3>
            <h2 >Samsung galaxy S10</h2>
        </article>
        <article>
            <img src="img/img-tv-samsung-smart.jpg" width="360" alt="img-tv-samsung-smart">
            <h3>$23.200</h3>
            <h3>5% OFF</h3>
            <h2 >SmartTv Samsung 43"</h2>
        </article>

    </main>
    <footer>
        <section class="pie">
            
               <h4>Pagá con tarjeta o en efectivo</h4>
           <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
                <br>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
          

        </section>
    </footer>


</body>

</html>

