<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/82d69982a4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Registratre en Mercado Liebre</title>
</head>



<header class="main-header">
    <div class="top-bar">

        <div class="img-form">
            <img src="img/logo-mercado-liebre.svg" alt="logo mercado liebre" class="imgMercado">

            <form class="formulario" action="/action_page.php" method="GET">
                <label for="fname"></label>
                <input type="text" id="fname" name="fname" value="Buscar productos, marcas">
                <button type="submit" class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                <br>
            </form>


        </div>

        <h2 class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de credito
        </h2>

    </div>


    <nav class="main-nav">
        <ul class="lista-superior">


            <li class="ofertas"><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>

        </ul>

        <ul class="lista-superior">

            <li><a href="/registro">Creá tu cuenta<span class="iconMenu"><i class="fa-solid fa-id-card"></i></span> </a>
            </li>
            <li><a href="/login">Ingresá<span class="iconMenu"><i
                            class="fa-solid fa-arrow-right-to-bracket"></i></span></a></li>
            <li><a href="#">Mis compras<span class="iconMenu"><i class="fa-solid fa-bag-shopping"></i></span></a>
            </li>

        </ul>


    </nav>

    <a href="#" class="burguer">
        <i class="fa-solid fa-bars"></i>

    </a>

</header>


<body class="body-register">
    <main class="main-register">


        <form action="/" method="POST" class="form-Reg">

            <div class="form__nombre">
                <label for="nombre">Nombre y Apellido
                    <input type="text" name="Nombre" id="nombre" placeholder=" Introduzca su Nombre y apellido"
                        minlength="2" required>
                </label>
            </div>
            <div class="form__usuario">
                <label for="usuario">Nombre de usuari@
                    <input type="text" name="usuario" id="usuario" placeholder="Introduzca su Nombre de usuari@"
                        minlength="2" required>
                </label>
            </div>
            <div class="form__fecha">
                <label for="fecha">Fecha de nacimiento
                    <input type="date" name="fecha" id="fecha" value="fecha" required>
                </label>

            </div>
            <div class="form__domicilio">
                <label for="domicilio">Domicilio<br>
                    <input type="text" name="domicilio" id="domicilio" placeholder=" Introduzca su Domicilio" required>
                </label>
            </div>


            <div class="form__perfil">
                <label for="perfil" class="form__perfil__title" required>
                    Perfil del usuario
                </label>
                <div class="compr-vend">
                    <div class="form-check-compr">
                        <input type="radio" name="venta-compra" id="comprador" required>
                        <label for="comprador" required>Comprador</label>

                    </div>
                    <div class="form-check-compr">

                        <input type="radio" name="venta-compra" id="vendedor">

                        <label for="vendedor">Vendedor</label>

                    </div>
                </div>
            </div>


            <div class="form__interes">
                <label class="form__interes__title" for="Intereses">Intereses</label>
                <label class="form__interes__check" for="electro">
                    <input type="checkbox" name="interes" id="electro">
                    Electro
                </label>
                <label class="form__interes__check" for="moda">
                    <input type="checkbox" name="interes" id="moda">
                    Moda
                </label>
                <label class="form__interes__check" for="hogar">
                    <input type="checkbox" name="interes" id="hogar">
                    Hogar
                </label>
                <label class="form__interes__check" for="jugueteria">
                    <input type="checkbox" name="interes" id="jugueteria">
                    Jugueteria
                </label>
                <label class="form__interes__check" for="vidasana">
                    <input type="checkbox" name="interes" id="vidasana">
                    Vida sana
                </label>
            </div>


            <div class="form__imagen">
                <label for="photo">Seleccionar una imagen para el perfil
                    <div class="file-select"><input type="file" name="Photo" accept=".jpg,jpeg"></div>
                </label>



            </div>
            <div class="form__password">
                <label class="form__password__title" for="pass">Contraseña<br>
                    <input type="password" name="pass" id="pass" placeholder="Introduzca su contraseña" required
                        minlength="5" maxlength="10">
                </label>
            </div>
            <div class="form__confirm">
                <label class="form__confirm__title" for="conf-pass">Confirmar contraseña<br>
                    <input type="password" name="pass" id="conf-pass" placeholder="Introduzca su contraseña nuevamente"
                        required minlength="5" maxlength="10">
                </label>
            </div>
            <div class="contenedor_button">
                <button class="form__button" type="submit">Borrar</button>
                <button class="form__button" type="submit">Enviar</button>

            </div>







        </form>



    </main>

    <footer class="footer">
        <div class="cont-footer">
            <section class="section-paga">
                <div class="iconFooter"><i class="fa-solid fa-credit-card"></i></div>
                <h2>Pagá con tarjeta o en efectivo </i></h2>
                <p class="section-paga__p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <div class="iconFooter"><i class="fa-solid fa-gift"></i></div>
                <h2>Envío gratis desde $ 2.500</h2>
                <p class="section-paga__p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <div class="iconFooter"><i class="fa-solid fa-user-shield"></i></div>
                <h2>Seguridad, de principio a fin</h2>
                <p class="section-paga__p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <br>
        </div>
        
        <section>

            <p class="section-paga__p" class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>




</body>

</html>