/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

● Tipografías
Familia: 'Roboto'
Nos envían esta demo de cómo cargar fuentes de Google Fonts. Además
podemos consultar el siguiente recurso aquí, para más detalle.
● Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
body nav {
    display: none;
}

.banner {
    width: 100%;
}






/*----------------------------------- COMIENZO HEADER-----------------------------*/
header {
    background-color: #EAC926;
    background-size: cover;
    font-family: "Roboto";
    font-size: 20px;
    padding: 10px;
}

.imgMercado {
    width: 50%;
    padding-top: 20px;
    padding-left: 15px;
}

.burguer i {
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 40px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    padding-bottom: 10px;
}

/* .menu-burguer i {
    background-color: #1259c3;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
} */
.main-nav ul {
    list-style: none;

    margin: 10px;
    padding: 0;

}

.main-nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0px;

}

.lupa {
    background-color: white;
  align-items: center;
  display: flex;
  padding: 3px;
  margin-bottom: 0px;
}




#fname {
    color: #666;
    border: white solid 1px;
}

.formulario {
    padding: 25px;
    margin-right: 10px;
    margin-bottom: -29px;
    font-size: 17px;
    display: flex;
    
    width: 50%;
}

form input {
    width: 100%;
    padding-right: 0px;
    display: flex;


}

form div {
    margin-bottom: 5px;
}


.compra {
    margin-top: 0px;
    margin-left: 25px;
    padding: 1px;
    font-size: 15px;
    font-weight: normal;
    margin-top: auto;
}

.img-form {
    display: flex;
    flex: wrap;
    margin-bottom: 30px;
    margin-top: -10px;
    width: 100%;
}

.iconMenu {
    color: black;
    margin: 3px;
}



/*-------------------------------------- FIN HEADER-----------------------------------*/


/*-------------------------------------- INICIO MAIN-----------------------------------*/
main h2 {
    font-size: 24px;
}

main .precio {
    font-size: 18px;
    text-align: left;
    margin-bottom: 1px;
    margin-top: 1px;
}

main .descuento {
    font-size: 16px;
    color: #39b54a;
    text-align: left;
    margin-top: 1px
}

main h3 {
    font-size: 16px;
    text-align: left;
   padding-top: 15px;

}

main section h2 {
    text-align: left;
    margin-left: 15px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    background-color: #ebebeb;
    margin-bottom: 20px;
}

article img {
    border-bottom: 1px solid #ebebeb;
    width: 100%;

}

main article {
    border-top: 1px solid #ebebeb;
    margin: 10px;
    padding: 15px;
    background-color: white;
}

.truck i {
    color: #39b54a;
    border: 1px solid #39b54a;
    padding: 15px;
    border-radius: 50ch;


}

.truck {
    text-align: right;
    margin: 1px;
}
.prec-desc{

    display: flex;
    flex-wrap: wrap;
    
}
.prec-desc .precio{
    width: 30%;
}
.prec-desc .descuento{
    width: 70%;
    padding-left: 5px;
    
}

.section-product{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    

}
.product{
width: 100%;
}



/*-------------------------------------- FIN MAIN   -----------------------------------*/

/*-------------------------------------- INICIO FOOTER-----------------------------------*/
.iconFooter {
    color: #1259c3;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-family: "Roboto";
    margin-left: 0px;
}

footer section p {
    color: #666;
    margin-bottom: 50px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    padding-left: 40px;
    padding-right: 30px;
}

footer h2 {
    color: #666;

    margin-bottom: 0px;
    margin-top: 10px;
}

.copy {
    text-align: left;
    padding-left: 1px;
    font-size: 15px;
}

/*-------------------------------------- FIN FOOTER-----------------------------------*/




/*-------------------------------------- INICIO MEDIA QUERI 361 768-----------------------------------*/
@media (min-width: 361px) {

    /* *{
        box-shadow: 0px 0px 10px rgb(100,100,100);

} */
    body nav {
        display: block;
    }

    main h3 {

        display: block;

    }

    .burguer {
        display: none;
    }

   

    

    /*-------------------------------------- FIN MEDIA QUERI 361 768-----------------------------------*/

    /*-------------------------------------- INICIO MEDIA QUERI 769  1199-----------------------------------*/

}

@media(min-width: 769px) {




    .imgMercado {
        width: 180px;
    }

  

    .top-bar {
        display: flex;
        justify-content: space-between;

    }

    .compra {


        font-size: 25px;
        text-align: right;
        padding-left: 0px;
        margin-top: auto;
        margin-left: 0px;

    }

    .top-bar h2 {
        padding-left: 0px;
        margin-left: -150px;
    }


    .main-nav {
        display: flex;
        justify-content: space-between;

    }

    .main-nav ul {
        display: flex;
        font-size: 18px;
    }

    .main-nav li {
        margin: 0 4px
    }

    main h3 {

        display: block;

    }

    .burguer {
        display: none;
    }

   
    .product{
        width: 44%;
    }

}

/*-------------------------------------- FIN MEDIA QUERI 768 1199-----------------------------------*/

/*-------------------------------------- INICIO MEDIA QUERI 1200 INFINITO-----------------------------------*/
@media (min-width: 1200px) {

    
    .main-nav {
        max-width: 1200px;

        margin: auto;
    }

    .main-nav li {
        font-size: 19px;
    }

    .compra{
        width: 50%;
        padding-left: 0%;
    }

    
.product{
    width: 22%;
}

}



/*-------------------------------------- FIN MEDIA QUERI 1200 INFINITO-----------------------------------*/