section.pie{
    text-align: center;
}




header{
    background-color: #EAC926;
    background-size: cover;
    font-family: "roboto"
}

.boton{
    
    background-color: #1259c3;
    color: white;

}
div.burguer-menu{
    justify-content: center;
}

